:root {
  --header-background-color: blue;
}

body,
p {
  margin: 0;
}

div.header {
  background-color: var(--header-background-color);
  height: 8rem;
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  column-gap: 0.75rem;
}

input[type="search"] {
  width: 50rem;
  height: 4rem;
  border-radius: 2rem;
  font-size: 2rem;
  padding-left: 2rem;
}

div.location {
  margin-left: 6rem;
  font-size: 2rem;
}

div.weather,
div.temperature {
  display: grid;
  grid-auto-flow: column;
}

div.info {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 1fr;
}

div.temperature {
  grid-template-columns: 3fr 1fr 1fr;
  justify-items: end;
  align-items: center;
}

img.icon {
  width: 30rem;
  height: 30rem;
}

p.value {
  font-size: 10rem;
}

.celsius,
.fahrenheit {
  width: 30%;
  align-self: start;
}

.celsius {
  justify-self: center;
}

.fahrenheit {
  justify-self: start;
}

p.precipitation,
p.humidity,
p.wind-speed {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 15rem;
}
